.@{starter-prefix}{
  &-form{
    &-button{
      position: absolute;
      bottom: calc(16px + env(safe-area-inset-bottom));
      bottom: calc(16px + constant(safe-area-inset-top));
      width: 100%;
      padding: 0 16px;
    }

    .t-form__label--required-right{
      label::after{
        margin-left: 3px;
        margin-right: unset;
      }
    }
  }
}